@page "/login"

@inject IAuthenticationRepository _authRepo
@inject NavigationManager _navManager

<h3 class="card-title">Login Now</h3>
@if (!isSuccess)
{
    <ErrorMessage Message="Something went wrong with the login attempt." />
}
<div class="card-body">
    <EditForm Model="Model" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email Address</label>
            <InputText id="email" class="form-control" @bind-Value="Model.EmailAddress"></InputText>
            <ValidationMessage For="@(() => Model.EmailAddress)" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="Model.Password"></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </EditForm>
</div>

@code {
    private LoginModel Model = new LoginModel();
    private bool isSuccess = true;

    private async Task HandleLogin()
    {
        isSuccess = await _authRepo.Login(Model);

        if (isSuccess)
        {
            _navManager.NavigateTo("/");
        }
    }
}